.favorites-container {
  background-color: #FAB9D3;
  height: 60%;
}

.link-container {
  height: 4%;
}
.artists-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 60%;
  width: 100%;
  border: 5px #FAB9D3 solid;
  overflow: auto;
  background-color: black;
  gap: 10px;
}