.form-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 25%;
  background-image: url('/src/assets/images/logos/whiteLogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  width: 100%;
}

.selects {
  width: 30%;
  height: 30%;
  text-align: center;
  border: 2px navy solid;
}

.form-btn-container {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.form-btn {
  height: 50%;
  width: 30%;
  background-color: #FAB9D3;
  border: 2px solid olive;
  border-radius: 25%;

}