.artist-card {
  border: 3px solid black;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  /* min-height: 450px; */
  margin: 20px;
  text-align: center;
  background-image: url('/src/images/pinkbackground.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: black;
  justify-content: space-between;
}


